//设置宽高的方法
@mixin wh($w, $h) {
  width: $w + px;
  height: $h + px;
}
//设置1px边框
@mixin bd($color) {
  border: 1px solid $color;
}
//设置背景颜色
@mixin bg($color) {
  background-color: $color;
}
//设置字体
@mixin font($size, $color) {
  font-size: $size + px;
  color: $color;
}
//公共样式
.toib {
  display: inline-block;
}
//广告栏样式
.ad {
  @include wh(1190, 66);
  @include bd(#000);
  margin: 0 auto;
}
//二级导航
.sec-banner {
  @include wh(1190, 51);
  border-bottom: 1px solid #0090c5;
  // border:none;
  box-sizing: border-box;
  margin: 70px auto 0;
}
.sec-banner ul {
  display: flex;
  justify-content: space-between;
  li {
    a {
      @include font(23, #666666);
      padding-bottom: 12px;
      line-height: 50px;
      padding: 0 24px 12px;
      z-index: 100;
    }
  }
}
//基本信息
.mess {
  @include font(17, #666666);
  margin: 19px auto 0;
  @include wh(1190, 543);
  .mess-nav {
    height: 74px;
    @include bd(#d5d3d3);
    padding-left: 18px;
    background-color: #efeaea;
    span:nth-child(1) {
      font: 600 25px/74px "microsoft yahei";
      color: #666666;
    }
    span:nth-child(2) {
      margin-left: 27px;
      font-size: 15px;
      color: #ef3e3e;
    }
  }

  input {
    @include wh(252, 36);
  }
  .mess-content {
    display: flex;
  }
  .mess-content span {
    color: #ef3e3e;
  }
  .mess-left-top {
    margin-top: 15px;
    width: 400px;
    div {
      text-align: right;
      height: 50px;
      label {
        width: 112px;
        text-align: right;
      }
      span {
        margin-left: 9px;
        padding-right: 9px;
      }
    }
  }
}
.mess-left-bottom {
  width: 496px;
  div {
    text-align: right;
  }
  textarea {
    @include wh(348, 101);
    resize: none;
  }
  .apt-check textarea {
    @include wh(348, 149);
    resize: none;
    cursor: pointer;
  }
  select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 1px solid #efeaea;
    outline: none;
    @include wh(111, 36);
  }
  .sect {
    width: 149px;
    height: 36px;
    line-height: 36px;
  }
  .sect1 {
    width: 347px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;
  }
  span {
    margin-left: 9px;
    padding-right: 9px;
  }
  .sect,
  .sect1 {
    float: left;
  }
  .apt-check div {
    position: relative;
    label {
      position: absolute;
      top: 0;
      left: 55px;
    }
  }
}
//右边
.mess-right {
  margin-top: 10px;
  width: 694px;
  textarea {
    @include wh(456, 146);
    resize: none;
  }
  .sumit1,
  .sumit2 {
    @include wh(92, 17);
    label {
      text-align: right;
    }
  }
}
.mess-blank {
  width: 127px;
}
.pic-give {
  display: inline-block;
  @include wh(142, 134);
  @include bd(black);
}
.mess-right > div {
  display: flex;
  margin-bottom: 17px;
}
//负责人认证
.approve {
  @extend .mess;
  margin-top: 22px;
  border-bottom: 1px dashed #d5d3d3;
  input {
    @include wh(252, 36);
  }
}
.approve-nav {
  @extend .mess-nav;
}
.title-wh {
  text-align: right;
  width: 148px;
}
.approve-pub span {
  color: red;
  margin-right: 9px;
}
.send-id {
  font-size: 15px !important;
  margin-top: 23px;
}
.approve-pub:nth-child(1) {
  margin-top: 31px;
}
.approve-pub:nth-child(2) {
  margin-top: 18px;
}
.id-card {
  border: 1px solid;
  @include wh(330, 205);
}
.id-card1 {
  margin-left: 148px;
  margin-right: 12px;
}
//提交信息按钮
.btn-mess {
  @include wh(280, 51);
  background-color: #477eba;
  border-radius: 10px;
  @include font(25, #fff);
  text-align: center;
  margin: 33px 758px 67px;
}
//我的项目sass
.part3 {
  width: 1190px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.pro-box {
  width: 890px;
  height: 40px;
  font: 18px "microsoft yahei";
  display: flex;
  justify-content: space-between;
}
.pro-box span {
  flex: 1;
}
.pro-nav {
  width: 890px;
  height: 74px;
  border: solid 1px #d0cfcf;
  @include bd(#d5d3d3);
  padding-left: 18px;
  background-color: #efeaea;
  font: 600 25px/74px "microsoft yahei";
  margin: 0 auto;
}
.part3-left {
  width: 891px;
}
.part3-right1 {
  width: 274px;
  height: 251px;
  background-color: #efeaea;
  border-radius: 10px;
}
.part3-right2 {
  margin-top: 17px;
  @extend .part3-right1;
  height: 182px;
}
.my-pro {
  margin-top: 19px;
  border: solid 1px #d0cfcf;
}
.pro-blank {
  flex: 1;
}
//收藏建筑商
.collect {
  margin: 29px 0;
}

//发布任务
.part2 {
  position: relative;
  @extend .part3;
  input {
    @include wh(221, 36);
  }
}
.pro-nav .issue {
  font-size: 15px;
  color: #666;
  margin-left: 18px;
  span {
    color: red;
  }
}
.ineed {
  margin-top: 22px;
  label {
    vertical-align: top;
  }
}
.ineed textarea {
  @include wh(759, 108);
  resize: none;
}
.give-time {
  margin-top: 19px;
  margin-bottom: 18px;
  input:nth-of-type(1) {
    width: 185px;
    margin-right: 156px;
  }
}
.cell-num {
  input {
    width: 185px;
  }
  input:nth-of-type(2) {
    width: 102px;
    margin-left: 9px;
  }
  .send-check {
    display: inline-block;
    width: 90px;
    height: 36px;
    margin-left: 9px;
    background-color: #477eba;
    line-height: 36px;
    text-align: center;
    color: #fff;
  }
}
.qq-num {
  margin: 17px 0 26px;
  label {
    padding-right: 39px;
  }
  input {
    width: 185px;
  }
}
.type-check {
  input[type="radio"] {
    @include wh(20, 20);
  }
  label {
    padding-right: 37px;
  }
}
.pic-paper {
  margin-top:23px;
  label {
    padding-right: 5px;
  }
  input{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    @include wh(185,36);
    background-color:#477eba;
  }
  .pic-paper-word{
    position: absolute;
    top: 472px;
    font-size: 12px;
    vertical-align: bottom;
    color:#999;
  }
}
.btn-mess2{
  margin-left:320px;
}

//写tab切换的样式
.active{
  @include bd(#477eba);
  border-bottom: 1px solid #fff;
}
.part{
  display: none;
}
.show{
  display: block;
}